{% extends 'mainfiles/base.html' %}
{% load static %}
{% block content %}

     
     {% for message in messages %}
         <div class="message text-center alert alert-info {{message.tags}}">
             {{ message }}
         </div>
     {% endfor %}

  <div class="container mt-5 mb-5">
      <div class="row">
          {% for shared in shared_spaces %}
          <div class="col-lg-4 mb-4">
              <div class="card mx-auto" style="width: 300px;">
                <form method="POST" action="{% url 'book_spaces' %}" id="sharedSpacesForm">
                  {% csrf_token %}
                  <div class="image-container" id="image-container-{{ shared.pk }}" onclick="expandImage('image-container-{{ shared.pk }}', '{{ shared.image.url }}')">
                    <img class="rounded" src="{{ shared.image.url }}" width="300" height="200" />
                  </div>
                  <div class="form-group form-check my-3">
                    <label class="form-check-label"><strong>{{ shared.name }}</strong></label>
                    <input type="checkbox" id="space-checkbox-{{ shared.pk }}" name="spaces[]" class="form-check-input" value="{{ shared.pk }}">
                  </div>
                  <hr>
                  <div class="d-flex justify-content-between align-items-center p-3">
                      <a class="btn btn-outline-success" href="{% url 'viewcontainer' shared.pk %}">View</a>
                      <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#bookingModal-{{ shared.pk }}" onclick="selectCheckbox('space-checkbox-{{ shared.pk }}')">Book</button>
                      <p class="font-weight-bold pl-5" style="float: right"><strong>ksh:{{ shared.price }}pm</strong></p>
                  </div>

                  <div class="modal fade" id="bookingModal-{{ shared.pk }}" tabindex="-1" aria-labelledby="bookingModalLabel-{{ shared.pk }}" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="bookingModalLabel-{{ shared.pk }}">Book {{ shared.name }}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form method="POST" action="{% url 'book_spaces' %}">
                            {% csrf_token %}
                            <input type="hidden" name="selected_space" value="{{ shared.pk }}">
                            <div id="user-info-{{ shared.pk }}">
                              <div class="form-field">
                                <label for="name">Name:</label>
                                <input required class="form-control" type="text" name="name" placeholder="Name..">
                              </div>
                              <div class="form-field">
                                <label for="email">Email:</label>
                                <input required class="form-control" type="email" name="email" placeholder="Email..">
                              </div>
                              
                              <div class="form-field">
                                <label for="phonenumber">Phonenumber:</label>
                                <input required class="form-control" type="tel" name="phonenumber" placeholder="254.." >
                              </div>
                              <div>
                                  <p>Select the booking period:</p>
                                <label for="start_date">Start Date:</label>
                                <input type="date" id="start_date" name="start_date" required >
      
                                <label for="end_date">End Date:</label>
                                <input type="date" id="end_date" name="end_date" required >
                              </div>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Submit Details</button>
                            
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </form>
              </div>
          </div>
          {% endfor %}
      </div>
  </div>

  <div class="container mb-5">
    <div class="row">
        {% for private in private_spaces %}
        <div class="col-lg-4 mb-4">
            <div class="card mx-auto" style="width: 300px;">
              <form method="POST" action="{% url 'book_spaces' %}" id="privateSpacesForm">
                {% csrf_token %}
                <div class="image-container" id="image-container-{{ private.pk }}" onclick="expandImage('image-container-{{ private.pk }}', '{{ private.image.url }}')">
                  <img class="rounded" src="{{ private.image.url }}" width="300" height="200" />
                </div>
                <div class="form-group form-check my-3">
                  <label class="form-check-label"><strong>{{ private.name }}</strong></label>
                  <input type="checkbox" id="space-checkbox-{{ private.pk }}" name="spaces[]" class="form-check-input" value="{{ private.pk }}">
                </div>
                <hr>
                <div class="d-flex justify-content-between align-items-center p-3">
                    <a class="btn btn-outline-success" href="{% url 'viewcontainer' private.pk %}">View</a>
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#bookingModal-{{ private.pk }}" onclick="selectCheckbox('space-checkbox-{{ private.pk }}')">Book</button>
                    <p class="font-weight-bold pl-5" style="float: right"><strong>ksh:{{ private.price }}pm</strong></p>
                </div>

                <div class="modal fade" id="bookingModal-{{ private.pk }}" tabindex="-1" aria-labelledby="bookingModalLabel-{{ private.pk }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="bookingModalLabel-{{ private.pk }}">Book {{ private.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{% url 'book_spaces' %}">
                          {% csrf_token %}
                          <input type="hidden" name="selected_space" value="{{ private.pk }}">
                          <div id="user-info-{{ shared.pk }}">
                            <div class="form-field">
                              <label for="name">Name:</label>
                              <input required class="form-control" type="text" name="name" placeholder="Name..">
                            </div>
                            <div class="form-field">
                              <label for="email">Email:</label>
                              <input required class="form-control" type="email" name="email" placeholder="Email..">
                            </div>
                            
                            <div class="form-field">
                              <label for="phonenumber">Phonenumber:</label>
                              <input required class="form-control" type="tel" name="phonenumber" placeholder="254." >
                            </div>
                            <div>
                                <p>Select the booking period:</p>
                              <label for="start_date">Start Date:</label>
                              <input type="date" id="start_date" name="start_date" required >
    
                              <label for="end_date">End Date:</label>
                              <input type="date" id="end_date" name="end_date" required >
                            </div>
                          </div>
                          
                          <button type="submit" class="btn btn-primary">Submit Details</button>
                          
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


  

<script>
    function selectCheckbox(checkboxId) {
        // Function to select the checkbox when the "Book" button is clicked
        document.getElementById(checkboxId).checked = true;
        //document.getElementById('myForm').submit();
    }
</script>
<script>
    function showBookingConfirmationModal() {
        $('#bookingConfirmationModal').modal('show');
        $('#submitModal').modal('show');
    }
</script>

<script>
  function submitForm(checkboxId) {
      // Check the checkbox associated with the clicked "View" button
      document.getElementById(checkboxId).checked = true;

      // Submit the form
      document.getElementById('myForm').submit();
  }
</script>



<!--<script src="{% static 'js/modal.js' %}"></script> -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}