{% extends 'mainfiles/base.html' %}
{% block content %}
{% for message in messages %}
  <div class="message text-center alert alert-info {{message.tags}}">
    {{ message }}
  </div>
  {%endfor%}
  
<div class="container" style="padding-top: 50px;">
    <div class="row justify-content-center">
       <div class="col-md-6">
          <div class="card">
              <div class="card-header">
                 <h5 class="card-title text-center">Booking summary</h5>
               </div>
                  <div class="card-body">
                   <table class="table table-bordered">
                       <thead>
                         <tr>
                           <th>Details</th>
                           <th>Value</th>
                         </tr>
                       </thead>
                       <tbody>
                         <tr>
                           <td><strong>Name</strong></td>
                           <td>{{ booking.name }}</td>
                         </tr>
                         <tr>
                            <td><strong>Booking period</strong></td>
                            <td>{{booking.start_date}} to {{booking.end_date}}</td>
                          </tr>
                          {% for space in booking.spaces.all %}
                          <tr>
                            <td><strong>space</strong></td>
                            <td>{{ space.name }}</td>
                          </tr>
                          {%endfor%}
                          <tr>
                            <td><strong>price</strong></td>
                            <td>{{ booking.price }}</td>
                          </tr>
                       </tbody> 
                    </table>   
                

                 <p class="font-weight-bold pt-4">Total: {{booking.price }}</p>

                 <div class="col">
                     <a class="btn btn-secondary" href="{% url 'luggage_collection' booking_id=booking_id %}">Need your luggage picked?</a> 
                     <a class="btn btn-secondary" href="{% url 'container_book'  %}">Continue booking</a> 
                 </div>
               </div>
           </div>
       </div> 
    </div>
</div>      
<div class="container">
    <form method="POST" action="{% url 'payment' booking_id %}">
        {% csrf_token %}
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="phone_number" value="{{ phone }}">
        <input type="submit" value="Initiate Payment">
    </form>
</div>

<!--<form method="POST" action="{% url 'payment' booking_id %}">
    {% csrf_token %}
    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="phone_number" value="{{ phone }}">
    <input type="submit" value="Initiate Payment">
</form> -->



{% endblock %}

