{% extends 'mainfiles/base.html' %}
{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-5 col-sm-12 p-4 text-center">
            <h1>Booking Summary</h1>
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col=md-5 col-sm-12 text-center">
            <h3 class=pb-3> Booking Summary:</h3>
            {% for space in spaces %}
               <p>{{ space.name }} <span class="pl-3">{{ space.price }}</span></p>
            {% endfor %}

            <p class="font-weight-bold pt-4">Total: {{ price }}</p>

        </div>
    </div>


    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3">Transportation Choice:</h3>
            <p>Selected Transportation: {{ booking.get_transportation_choice_display }}</p>
            <p>The total Price inclusive of the containers booked: {{ booking.price }}</p>
        </div>
    </div>

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 text-center">
            <a class="btn btn-secondary" href="{% url 'index' %}">Go back to homepage</a>
        </div>
    </div>
</div>
{% endblock %}
