{% extends 'mainfiles/base.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
  <div class="message text-center alert alert-info {{message.tags}}">
    {{ message }}
  </div>
  {%endfor%}


<div class="container mt-5">
    <div class="row justify-content-center">
       <div class="col-md-6">
           <div class="card">
               <div class="card-header">
                 <h5 class="card-title text-center">Luggage pickup Details</h5>
               </div>
             
               <div class="card-body">  
                <form method="post">
                   {% csrf_token %}
                    <div> 
                        <div class="form-field">
                            <div>
                             <label for="school">School:</label>
                             <select required class="form-control" id="school" name="school">
                                     <option value="" selected disabled>Select a School</option>
                                     {% for school in schools_list %}
                                       <option value="{{ school }}">{{ school }}</option>
                                     {% endfor %}
                             </select>
                            </div>  
                            <br/>
                         <div>
                             <label for="subcounty">Select Subcounty:</label>
                             <select name="subcounty" id="subcounty">
                                 <option value="" selected disabled>Select a Subcounty</option>
                                 <option value="Mvita">Mvita</option>
                                 <option value="Nyali">Nyali</option>
                                 <option value="Changamwe">Changamwe</option>
                                 <option value="Likoni">Likoni</option>
                                  <option value="Kisauni">Kisauni</option>
                                 <option value="Jomvu">Jomvu</option>
                             </select>
                         </div>  
                         <br/>
                          
                          <div>
                             <button type="submit" >view rates</button>
                           </div>  
                        </div>  
                         {% if selected_subcounty %}
                            {% if rates %}
                            <h2>Rates for {{ selected_subcounty }}:</h2>
                            <ul>
                                {% for key, value in rates.items %}
                                <li>
                                  <input type="radio" id="{{ key }}" name="selected_rate" value="{{ key }}" {% if selected_rate == key %}checked{% endif %}>
                                  <label for="{{ key }}">{{ key }}: {{ value }}</label>
                                </li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <p>No rates found for {{ selected_subcounty }}</p>
                            {% endif %}
                         {% endif %}
                    </div>     
                </form>   
               </div>
            </div>   
       </div>
    </div>     
</div>




<script>
    function submitSchool() {
        var selectedSchool = document.getElementById('school').value;
        document.getElementById('selectedSchool').value = selectedSchool;
        document.getElementById('schoolForm').submit();
    }
</script>

<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
