{% extends 'mainfiles/base.html' %}
{% block content %}

{% for message in messages %}
  <div class="message text-center alert alert-info {{message.tags}}">
    {{ message }}
  </div>
  {%endfor%}

 

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h2>Rates for {{ subcounty }}</h2>
                        <form id="bookingForm" method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="subcounty" value="{{ subcounty }}">
                            
                            <table class="table table-bordered">
                           
                                <tr>
                                    <th>Vehicle Type</th>
                                    <th>Rate</th>
                                    <th>Select Rate</th>
                                </tr>
                                {% for vehicle_type, rate in rates.items %}
                                    <tr>
                                        <td>{{ vehicle_type }}</td>
                                        <td>{{ rate }}</td>
                                        <td>
                                            <label>
                                                <input type="radio" name="selected_rate" value="{{ rate }}"> Select
                                            </label>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                           
                           <input type="submit" value="Submit"> 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        document.getElementById('bookingForm').addEventListener('submit', function(event) {
            var selectedRate = document.querySelector('input[name="selected_rate"]:checked');
            if (!selectedRate) {
                alert('Please select a rate before booking.');
                event.preventDefault();  // Prevent form submission if no rate is selected
            }
        });
    </script> 
{% endblock content %}