{%extends 'mainfiles/base.html'%} 
{% load static %}
{%block content%}
{% for message in messages %}
  <div class="message text-center alert alert-info {{message.tags}}">
    {{ message }}
  </div>
  {%endfor%}
<div class="container">
<h1>SignUp from here</h1>

<button type=""class="btn btn-danger"><a href="{%url 'storageProvider_signup'%}">StorageProvider SignUp</a></button>

<button type="" class="btn btn-secondary"><a href="{%url 'student_signup'%}">Student SignUp</a></button>
</div>
{%endblock%}