
{% extends 'mainfiles/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% for message in messages %}
  <div class="message text-center alert alert-info {{message.tags}}">
    {{ message }}
  </div>
  {%endfor%}
   <div class="Container">
      <div class="form-signup">
            
         <form  method="POST" action="" accept-charset="utf-8">
           {% csrf_token %}
             <h3 class="has-text-centered mb-5 is-size-3">SignUp</h3>
             {{ form|crispy }}
             <!--{{form.as_p}}-->
                <input type="Submit" name="submit" value="Submit">
   
             <div class="form-group">
               <small class="text-muted ml-3" >Already have an account? <a href="{% url 'user_login' %}">Sign In</a></small>
             </div>
         </form>
      </div>

      </div>
   </div>   

{% endblock %}
