{%extends 'mainfiles/base.html' %}
{% block content %}

<!--<form method="GET" action="{% url 'search_results' %}">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form> -->


<!--<form method="GET">
    
    {{ form.as_p }}
    <input type="submit" value="Search">
</form> -->
<h2>Search Results for "{{ query }}"</h2>
<ul>
    {% for result in results %}
        <li>{{ result.booking_number }}</li>  <!-- Display relevant fields -->
        <li>{{ result.name }}</li>
        <li>{{ result.date_booked }}</li>
        <li>{{ result.school }}</li>
    {% empty %}
        <li>No results found</li>
    {% endfor %}
</ul>
<ul>
    {% for booking in results %}
        <li>{{ booking.name }}</li>
        <li>{{ booking.price }}</li>
        <li>{{ booking.date_booked }}</li>
        <li>{{ booking.transportaion_choice }}</li>
        <li>{{ booking.school }}</li>
        <!-- Include other booking fields as needed -->
    {% empty %}
        <li>No results found.</li>
    {% endfor %}
</ul>


{% endblock %}