{% extends 'mainfiles/base.html' %}

{% block content %}
{% for message in messages %}
<div class="message text-center alert alert-info {{message.tags}}">
  {{ message }}
</div>
{%endfor%}



 <div class="container mb-5 mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title text-center">Container Details</h5>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Attribute</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Name</strong></td>
                  <td>{{ container.name }}</td>
                </tr>
                <tr>
                  <td><strong>Description</strong></td>
                  <td>{{ container.description|linebreaksbr }}</td>
                </tr>
                <tr>
                  <td><strong>Price</strong></td>
                  <td>ksh{{ container.price }}</td>
                </tr>
                <tr>
                  <td><strong>Units Available</strong></td>
                  <td>{{ container.units }}</td>
                </tr>
                <tr>
                  <td><strong>Status</strong></td>
                  <td>{{ container.status }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="{{ container.image.url }}" alt="{{ container.name }}" width="100" height="100">
                    </td>
                </tr>
              </tbody>
            </table>
            <a class="btn btn-secondary" href="{% url 'dashboard' %}">Back to Dashboard</a>
           
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}